$brand-primary: lighten(#ffff00, 40%);
$brand-info: #5bc0de;

$padding-large-vertical: 40px;
$padding-large-horizontal: $padding-large-vertical;

$padding-base-vertical: 30px;
$padding-base-horizontal: $padding-base-vertical;

$padding-small-vertical: 20px;
$padding-small-horizontal: $padding-small-vertical;

$padding-xs-vertical: 10px;
$padding-xs-horizontal: $padding-xs-vertical;
